<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" id="myHeader">
  <a class="navbar-brand" href="#">
    <%= image_tag "logo.png" %>
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <p><%= link_to 'See all', cocktails_path, class: "btn-ctall" %></p>
      </li>
      <li class="nav-item">
        <p> <%= link_to "Create your own", new_cocktail_path, class: "btn-cta"%> </p>
      </li>
    </ul>
  </div>
</div>

